<main>

  @if(errorMessage()) {
  <div class="error-state">
    <img src="assets/images/icon-error.svg" alt="icon-error">
    <h1>Something went wrong</h1>
    <p>We couldn`t connect to the server (API error). Please try again in a few moments</p>
    <button type="button" (click)="retry()"><i class="fa-solid fa-arrows-rotate"></i> Retry</button>
  </div>
  } @else {
  <h1 class="weather-page__title">How's the sky looking today?</h1>

  <div class="search">
    <div class="search-wrap" appClickOutside (appClickOutside)="isOpenDropdown.set(false)">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input class="input" type="text" placeholder="Search for a place..." [value]="search()" (input)="onInput($event)"
        (keyup.enter)="onSearch()" aria-label="Search for a place">

      @if (search()) {
      <button class="clear-btn" (click)="clearSearch()" type="button" aria-label="Clear search">x</button>
      }

      @if (isSearchLoading()) {
      <div class="search-dropdown">
        <p class="search-result"><img src="assets/images/icon-loading.svg" alt="icon-loading"> Search in progress</p>
      </div>
      } @else if(isOpenDropdown() && cities().length > 0) {
      <div class="search-dropdown">
        @for (city of cities(); track city.id) {
        <button class="search-result" (click)="selectCity(city)" type="button">{{city.name}}, {{city.country}}</button>
        }
      </div>
      }
    </div>

    <button class="search-btn" type="button" (click)="onSearch()" [disabled]="isLoading()">Search</button>
  </div>

  @if (noResults()) {
  <p class="no-results-message">No search result found!</p>
  } @else {
  <div class="weather-grid">
    <app-current-weather class="current-block" [city]="selectedCity()" [current]="currentWeather()"
      [isLoading]="isLoading()">
    </app-current-weather>
    <app-daily-weather class="daily-block" [city]="selectedCity()" [dailyItems]="dailyWeatherItems()"
      [isLoading]="isLoading()"></app-daily-weather>
    <app-hourly-weather class="hourly-block" [city]="selectedCity()" [hourlyItems]="hourlyWeatherItems()"
      [isLoading]="isLoading()" [availableDays]="availableDays()" [currentSelectedDay]="currentSelectedDay()"
      (daySelected)="onDaySelected($event)"></app-hourly-weather>
  </div>
  }
  }
</main>